[Unit]
Description=Network Admin Service
After=network.target

[Service]
Type=simple
Restart=on-failure
KillSignal=SIGINT 
ExecReload=/bin/kill -s -HUP $MAINPID
ExecStart=/bin/bash /usr/local/bin/net-admin.sh

[Install]
WantedBy=multi-user.target
